.column {
    width: 350px;
    float: left;
    color: 	#00BFFF;
  }
.title {
  text-align: center;
  background-color: #FFB7C5;
  background-blend-mode: overlay;
  height: 100px;
  font-family: fantasy;
}
.lens {
float: right;

}

.pot {
  text-decoration-color: red;
  text-align: center;
}
body {
  background-image: url("camera3.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
.potrait{

  position: absolute;
  top: 300px;
  left: 72px;
}
.nature{

  position: absolute;
  top: 300px;
  left: 360px;
}
